# OpenWeatherMap API token
API_TOKEN=your_secret_api_token

# Telegram-Bot token
TELEGRAM_BOT_TOKEN=your_secret_tg_bot_token

# FastAPI server
API_HOST=127.0.0.1
API_PORT=8080

# Redis-limiter
REDIS_LIMITER_HOST=localhost
REDIS_LIMITER_PORT=6379

# Redis-storage with weather data 
REDIS_WEATHER_HOST=localhost
REDIS_WEATHER_PORT=6380

# Redis-backup-storage with weather data 
REDIS_BACKUP_WEATHER_HOST=localhost
REDIS_BACKUP_WEATHER_PORT=6381