# OpenWeatherMap API token
API_TOKEN=your_secret_api_token

# Telegram-Bot token
TELEGRAM_BOT_TOKEN=your_secret_tg_bot_token

# FastAPI server
API_HOST=weather-api
API_PORT=8080

# Redis
REDIS_SENTINELS=redis-sentinel-1:26379,redis-sentinel-2:26380,redis-sentinel-3:26381
REDIS_MASTER_NAME=mymaster
REDIS_PASSWORD=your_redis_password

# PostgreSQL
ALEMBIC_DATABASE_URL=postgresql://user:password@postgres-db:5432/mydb
DATABASE_URL=postgresql+asyncpg://user:password@postgres-db:5432/mydb
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=your_db_name
DB_NAME=chatbot
DB_HOST=postgres-db
DB_PORT=5432

# Grafana
GF_SECURITY_ADMIN_USER=your_username
GF_SECURITY_ADMIN_PASSWORD=your_password

# Worker
INTERVAL_SECONDS=30