# OpenWeatherMap API token
API_TOKEN=your_secret_api_token

# Telegram-Bot token
TELEGRAM_BOT_TOKEN=your_secret_tg_bot_token

# FastAPI server
API_HOST=0.0.0.0
API_PORT=8080

# Redis
REDIS_URL=redis://redis-db:6379/0
REDIS_HOST=redis-db
REDIS_PORT=6379

# Worker
INTERVAL_SECONDS=30